<div class="email-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.email.title' %></h5>
  <div class="indented"><b><%= current_user.email %></b></div>
  <p class="full-section"><%= t 'toshokan.cant_find.forms.sections.email.text' %></p>
</div>
