<div class="notes-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.notes' %></h5>
  <%= label_tag 'notes', t('toshokan.cant_find.forms.fields.notes') %>
  <%= text_area_tag 'notes', nil, :rows => 5, :class => 'input-block-level' %>
</div>
