<div class="physical-location-section">
<!--
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.physical_location.title' %></h5>
  <div class="indented">
    <b>Street<br>Building, room<br>ZIP, city<br>Country</b>
  </div>
  <p class="full-section"><%= t 'toshokan.cant_find.forms.sections.physical_location.text' %></p>
-->
</div>
