<div class="publisher-section">
  <h5 class="underlined"><%= t 'toshokan.cant_find.forms.sections.publisher' %></h5>
  <%= label_tag 'publisher_name', t('toshokan.cant_find.forms.fields.publisher_name') %>
  <%= text_field_tag 'publisher_name', nil, :class => 'input-block-level' %>
</div>

