<div class="facet_limit cant-find-items">
  <h5 class="twiddle">Can't find what you're looking for? <i class="icon-chevron"></i></h5>
  <div>
    <ul>
      <% ['journal_article', 'conference_article', 'book'].each do |genre| %>
        <li><%= link_to t("toshokan.cant_find.genres.#{genre}"), cant_find_path(:genre => genre) %></li>
      <% end %>
    </ul>
  </div>
</div>
