<p> 
  <a href="http://api.libguides.com/api_box.php?iid=3935&bid=15084512" target="_blank"><%= t 'toshokan.cant_find.about_service' %></a>
</p>
<%= button_tag t('toshokan.cant_find.forms.submit'), :class => 'btn btn-primary pull-right' %>
