<div class="span12">
  <h5>DTU Findit is not available yet. But it will be!</h5>

  <p>Please revisit this page later in the year to explore DTU Findit: Access to more than 70 million articles and books</p>
</div>
