<table class="table table-striped found_users">
  <% users.each do |user| %>
  <tr class="found_user">
    <td>
      <%= render :partial => 'user_info', :locals => { :user => user } %>
    </td>
    <td>
      <%= button_to t('toshokan.users.switch.become_user'), { :action => :update, :identifier => user.identifier }, { :method => :put, :class => 'btn btn-primary' } %>
    </td>
  </tr>
  <% end %>
</table>
