@import 'toshokan_defaults';

@media (min-width: 1200px) {
  #searchbar {
    .text-field-with-icons {
      width: 674px;
    }

    #q {
      width: 613px;
    }

    #search {
      padding: 0px 12px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .findit-logo {
    display: none;
  }

  #searchbar {
    .text-field-with-icons {
      width: 320px;
    }

    #q {
      width: 245px;
    }
    
    #search {
      width: auto;
      .submit-search-text {
        display: inline;
      }
    }
  }
}

@media (max-width: 767px) {
  #searchbar {
    .text-field-with-icons {
      width: 320px;
    }

    #q {
      width: 245px;
    }

    #search {
      width: auto;
    }

  }
}
