@media (min-width: 1200px) {
  #appliedParams {
    width: 580px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #appliedParams {
    width: 320px;
  }
}

@media (max-width: 767px) {
  #header-navbar-fixed-top {
    .span3, .span2 {
      display: none;
    }

    &.navbar .container {
      margin: 0px auto;
    }
  }

  #appliedParams {
    width: 320px;
  }
}
