<div id="sidebar" class="span3">
  <div class="sidenav">
    <h4>Administration</h4>
    <div>
      <h5 data-toggle="collapse" data-target="#myul">Users <i class="icon-chevron"></i></h5>
      <ul id="myul" style="display:none">
        <li>Manage Users</li>
      </ul>
    </div>
  </div>
</div>
<div id="content" class="span9">
  <!-- The partial to be rendered should come from a request parameter -->
  <%= render 'manage_users' %>
</div>
