<div class="service-menu container">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header dtu-red">What</li>
        <li><a href="">DTU Digital Library</a></li>
        <li><a href="">Databases</a></li>
        <li><a href="">Research Database</a></li>
      </ul>
    </div>
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header dtu-red">How</li>
        <li><a href="">User Status</a></li>
        <li><a href="">Rules</a></li>
        <li><a href="">Courses</a></li>
      </ul>
    </div>
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header dtu-red">Where</li>
        <li><a href="">Addresses</a></li>
        <li><a href="">Facilities</a></li>
        <li><a href="">Events</a></li>
      </ul>
    </div>
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header dtu-red">Contact &amp; Opening Hours</li>
        <li><a href="">Opening Hours Lyngby</a></li>
        <li><a href="">Opening Hours Ballerup</a></li>
        <li><a href="">Phone: 4525 7250</a></li>
      </ul>
    </div>
  </div>
</div>
