<div class="search">
  <button class="btn btn-info btn-xs" onclick="start_introjs()">Show me how</button>
  <div id="searchbar">
    <%= render_search_bar %>
  </div>
  <div id="appliedParams">
    <% if query_has_constraints? %>
      <%= render 'catalog/constraints' %>
    <% end %>
  </div>
</div>
