<div class="service-menu container hidden-phone">
  <div class="row">
    <div class="span3">
      <ul>
        <li>Find Information</li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/find/online">Search literature</a></li>
        <li><a href="http://libguides.dtu.dk/databases">Other search tools</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/find/borrow">How to borrow books</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/find/reference">Reference management</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/find/industry_and_public">For industry and the public</a></li>
      </ul>
    </div>
    <div class="span3">
      <ul>
        <li>Visit The Library</li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/visit/opening">Opening hours</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/visit/exhibit">Exhibitions and events</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/visit/innovation">Innovation environment</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/visit/study">Study environment and IT</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/visit/training">Training and counseling</a></li>
      </ul>
    </div>
    <div class="span3">
      <ul>
        <li>Publishing At DTU</li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/publishing/publishing">Research publishing</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/publishing/student">Student theses</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/publishing/conferences">Conferences at DTU</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/publishing/openaccess">Open access</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/publishing/bibliometrics">Bibliometrics and ranking</a></li>
      </ul>
    </div>
    <div class="span3">
      <ul>
        <li>About and Contact</li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/about/news_calender">News and calendar</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/about/contact">Contact us</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/about/staff">Staff and organisation</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/about/mission_vision_history">Mission, vision and history</a></li>
        <li><a href="http://www.dtic.dtu.dk/english/servicemenu/about/projects">Projects and partners</a></li>
      </ul>
    </div>
  </div>
</div>

