<div class="section electronic-delivery-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.electronic_delivery.title' %>
  </h5>
  <p class="indented">
    <tt><%= current_user.email %></tt>
  </p>
</div>
