<div class="section email-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.email.title' %>
  </h5>
  <p>
    <%= t 'toshokan.assistance_requests.forms.sections.email.text' %>
  </p>
  <p class="indented">
    <tt><%= current_user.email %></tt>
  </p>
</div>
