<div class="section physical-location-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.physical_location.title' %>
  </h5>
  <p>
    <%= t 'toshokan.assistance_requests.forms.sections.physical_location.text' %>
  </p>
  <p class="indented">
    <tt><%= render_user_address current_user %></tt>
  </p>
</div>
