<div class="section publisher-section">
  <h5 class="underlined">
    <%= t 'toshokan.assistance_requests.forms.sections.publisher.title' %>
  </h5>
  <% if params[:button] == 'create' %>
    <%= render :partial => 'submitted_values',
      :locals => {
        :field_prefix => 'publisher_',
        :fields => ['name']
      } %>
  <% else %>
    <%= optional_text_field 'assistance_request', 'publisher_name', 
                            t('toshokan.assistance_requests.forms.field_labels.publisher_name') %>
  <% end %>
</div>
