<div class="section journal-section">
  <h5 class="underlined"><%= t 'toshokan.assistance_requests.forms.sections.journal.title' %></h5>
  <%= render_section_fields ['title', 'issn', 'volume', 'issue', 'year', 'pages'], @assistance_request, 'journal_' %>
</div>
