<div class="section article-section">
  <h5 class="underlined"><%= t 'toshokan.assistance_requests.forms.sections.article.title' %></h5>
  <%= render_section_fields ['title', 'author', 'doi'], @assistance_request, 'article_' %>
</div>

