<div class="section conference-section">
  <h5 class="underlined"><%= t 'toshokan.assistance_requests.forms.sections.conference.title' %></h5>
  <%= render_section_fields ['title', 'location', 'isxn', 'year', 'pages'], @assistance_request, 'conference_' %>
</div>
