<div class="section notes-section">
  <h5 class="underlined"><%= t 'toshokan.assistance_requests.forms.sections.notes.title' %></h5>
  <%= render_section_fields ['notes'], @assistance_request %>
</div>
