<div class="section automatic-cancellation-section">
  <h5 class="underlined"><%= t 'toshokan.assistance_requests.forms.sections.automatic_cancellation.title' %></h5>
  <p><%= t 'toshokan.assistance_requests.forms.sections.automatic_cancellation.text' %></p>
  <p class="indented">
    <tt>
      <%= t "toshokan.assistance_requests.forms.sections.automatic_cancellation.values.#{@assistance_request.auto_cancel}" %>
    </tt>
  </p>
</div>
