<div class="section submit-section clearfix">
  <div class="btn-group pull-right">
    <% if params[:button] == 'create' -%>
      <%= button_tag 'Back', :class => 'btn btn-default' %>
      <%= button_tag 'Confirm request', :value => 'confirm', :class => 'btn btn-primary' %>
    <% else -%>
      <%= button_tag 'Clear', :class => 'btn btn-default', :type => 'reset' %>
      <%= button_tag 'Send request', :value => 'create', :class => 'btn btn-primary' %>
    <% end -%>
  </div>
</div>
