<div class="col-md-12">
  <h4><%= t 'toshokan.catalog.no_hits.need_help.title' %></h4>
  <p><%= t 'toshokan.catalog.no_hits.need_help.common' %></p>
  <p><%= t 'toshokan.catalog.no_hits.need_help.non_dtu_html' %></p>
</div>
