<% if can? :request, :assistance -%>
  <div class="col-md-12 request-assistance-form">
    <%= render 'search_tips' %>
    <h4>If unsuccessful, have DTU Library get it for you</h4>
    <%= form_tag assistance_requests_path(:genre => @genre) do %>
      <% if params[:record_id] %>
        <%= hidden_field_tag :record_id, params[:record_id] %>
      <% end %>
      <%= render @assistance_request.class.name.underscore %>
    <% end %>
  </div>
<% end -%>
