<div>"<%= @order.document['title_ts'].first %>"</div>
<div><%= t 'toshokan.orders.by' %> <%= @order.document['author_ts'].first %></div>
<div><%= render_journal_info_show :field => 'journal_title_ts', :document => @order.document %></div>

