<div class="well">
  <ul class="nav nav-list">
    <li class="nav-header">
      <div><%= t 'toshokan.orders.buy_article' %></div>
    </li>
    <li class="ordered-item">
      <%= render 'ordered_article_metadata' %>
    </li>
    <li><%= render_scan_price_tag current_user, @order.supplier %></li>
  </ul>
</div>
