<div class="order">
  <div class="span6">
    <h4><%= t 'toshokan.orders.order_status' %></h4>

    <dl class="dl-horizontal dl-invert">
      <%- @order.order_events.reject {|e| e.name == 'payment_authorized'}.each do |event| -%>
        <dt><%= l event.created_at, :format => :long %></dt>
        <dd><%= t "toshokan.orders.events.#{event.name}" %></dd>
      <%- end -%>
    </dl>
  </div>
  <div class="span6">
    <%= render 'order_summary' %>
  </div>
</div>
