<div class="span12">
  <h3 class="pagination-centered">About DTU Findit</h3>
  <p>DTU Findit is DTU Library's latest search, discover and delivery layer, which makes accesible to end users STM-relevant bibliographic data from all major STM publishers, a selection of abstract and indexing databases as well as a selection of open access repositories. Search access is provided through a fully automated acquisition, processing and indexing operation, and delivery access is done through a variation of ways in which the user can access the fulltext and/or related material. For a full list of content, please refer to
  <%- if current_user.dtu? -%><%=link_to("here", "http://api.libguides.com/api_box.php?iid=3935&bid=13937966", :target => "_blank")%><%- else -%><%=link_to("here", "http://api.libguides.com/api_box.php?iid=3935&bid=14267802", :target => "_blank")%><%- end -%>.</p>
  <p>With its primary focus on journal articles - some freely available, some commercial but covered by DTU information licenses and some commercial and not covered by DTU licenses - DTU Findit aims to give the same discoverability and presentation of its material to all users, but can offer premium - and free (or occasionally symbolically priced) - delivery service to DTU Library patrons covered by DTU licenses, whereas non-patrons will have to cover the cost of DTU Library to acquire documents through its international document delivery services.</p>
  <p>In order to offer this smoothly and timely, DTU Findit is equipped with a sophisticated authentication mechanism, that tries to allow for an easy-accessible anonymous "web-shop-like" user experience for non-patrons, and at the same time try as robustly as possible to identify patrons and make sure they authenticate in order to benefit from the premium advantages.</p>
  <p>In addition, DTU Findit also integrates with a number of DTU Library support systems, such as
    <ul>
      <li>the book system (aka library catalogue),</li>
      <li>a user-support issue tracking,</li>
      <li>document delivery agents,</li>
      <li>research registration databases/processes</li>
    </ul>
  </p>
  <p>The overall aim is to maximize the level of end-user self-service possible and optimize the staff processes needed, when end-user self-service is impossible.  Acting together with the visually very similar DTU Library homepage, DTU Findit constitutes a coherent and complete access point to all DTU Library's services - online as well as offline - to all its user groups.</p>
  <p>After almost two decades of close data-collaboration with major STM publishers that has enabled an STM-complete set of data feeds, which is the foundation for locally constructed search applications, and after an equally long tradition for turning to Open Source software based solutions whenever possible for our software development, DTU Findit was constructed by DTU Library in 2012/13 as a locally developed, maintained and hosted solution based on
    <ul>
      <li><a href="http://lucene.apache.org/solr/">SOLR</a> for indexing,</li>
      <li><a href="http://projectblacklight.org/">Blacklight</a> for user interfacing on top,</li>
      <li>homegrown tailor made acquisition-and-processesing platform (DataStore) behind, feeding data into SOLR, as well as</li>
      <li>an eco-system of support systems/components</li>
    </ul>
  </p>
</div>