<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="well clearfix">
        <h3>The page you requested requires that you log in</h3>
        <p><%= t 'toshokan.header_links.suggest_login.benefits_material_html' %></p>
        <p><%= t 'toshokan.header_links.suggest_login.benefits_personalization' %></p>
        <div class="pull-right"><%= link_to t('toshokan.header_links.login'), new_user_session_path(:url => params[:url]), :class => 'btn btn-primary' %></div>
        <p></p>
      </div>
    </div>
  </div>
</div>
