<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="well clearfix">
        <h3>The page you requested requires that you log in with a DTU account</h3>
          <p>Please <%= link_to("log in with a DTU account", logout_login_as_dtu_path({:url => params[:url]})) %> in order to get access</p>
      </div>
    </div>
  </div>
</div>
