<!DOCTYPE html>
<html>
  <head></head>
  <body style="font-family: Arial, Verdana, sans-serif; font-size: .8em;">
    <form action="http://findit.dtu.dk/search" method="GET" target="_blank">
    <input NAME="q" value size="40" style="width:325px;">
    <input type="submit" value="<%= t('blacklight.search.form.submit')%>">
    <div style="margin-top:0.5em;">
    	- <%= t 'toshokan.pages.searchbox' %>
	</div>
    </form>
  </body>
</html>
