<div id="searchbar">
  <div class="input-append pull-left external-searchbox">
    <form action="/catalog" method="get" target="_parent">
      <div class="text-field-with-icons">
        <%= text_field_tag :q, params[:q], :class => "search_q q", :id => "q", :placeholder => t('blacklight.search.form.q')%>
      </div>
      <button type="submit" class="btn btn-primary" id="search">
        <%=t('blacklight.search.form.submit')%>
      </button>
    </form>
  </div>
</div>
