<div id="searchbar">
  <div class="input-append pull-left external-searchbox">
    <form action="http://findit.dtu.dk" method="GET" target="_parent">  
      <div class="text-field-with-icons">
        <%= text_field_tag :q, params[:q], :class => "search_q q", :id => "q", :placeholder => t('blacklight.search.form.q')%>
      </div>
      <button type="submit" class="btn btn-primary search-btn" id="search">
        <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>        
      </button>
    </form>
  </div>
</div>
