<span>
  <%= link_to content_tag('i', '', :class => 'icon-quote-right'), citation_catalog_path(:id => document.id), {:id => 'citeLink', :name => 'citation', :class => 'lightboxLink', :title => t('toshokan.tools.cite')} %>
</span>
