<ul>
  <% tags.each do |tag| %>
    <li>
      <% if any_tag_in_params? && tag_in_params?(tag.name) %>
        <%= render_selected_tag_value tag.name %>
      <% else %>
        <%= render_tag_value tag.name, {:suppress_link => (tag.count == 0)} %>
      <% end %>
      <span class="count"><%= tag.count %></span>
    </li>
  <% end %>
</ul>
