<div class="facet_limit toshokan-bookmarks">
  <h5 class="twiddle"><%= t('toshokan.tags.title') %><i class="icon-chevron"></i></h5>
  <div class="tag_list">
    <%= render_tag_list %>
  </div>
</div>
