<div class="col-md-9 col-md-offset-3 tag_control" id="<%= @document.id %>-tag_control">
  <%= render 'tags/bookmark_button',
	       {:document_id => @document.id, :bookmark => @bookmark, :tags => @tags, :return_url => @return_url,
		:remote => false} %>

  <%= render 'tags/add_remove_tags_menu',
	       {:document_id => @document.id, :bookmark => @bookmark, :tags => @tags, :return_url => @return_url,
		:list_class => 'unstyled', :remote => false} %>
</div>
