<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @tags.each do |tag| %>
    <tr class='tag-manager'>
    <td><span class="btn btn-mini btn-info"><%= tag.name %></span></td>
  <td><%= link_to t('toshokan.tags.edit'), edit_tag_path(tag) %> <%= link_to t('toshokan.tags.delete'), tag_path(tag, :return_url => request.url), :method => :delete %></td>
    </tr>
  <% end %>
</table>
