<ul class="holdings">
  <li><%=I18n.t("toshokan.catalog.holdings.printed")%></li>
  <li><i class="icon-ok"></i> 
    <%= link_to I18n.t("toshokan.catalog.holdings.alis_books"), Rails.application.config.alis_url + alis_key %>
  </li>
</ul>
