<% @documents.each do |document| %>

<h1><%= citation_title(document) %></h1>

	<% document.citation_styles.each do |style| %>

		<h4><%= t("toshokan.citation.#{style}") %></h4>
	  <%= document.send(:export_as_citation_txt, style).html_safe %>

	<% end %>
<% end %>
