<div class="dropdown pull-right hidden-phone">
  <ul class="css-dropdown">
    <li class="btn">
      <%= link_to(t("toshokan.catalog.display_formats.#{@display_format}") + ' view', "#") %> <span class="caret"></span>
      <ul>
        <%- # TODO: Get formats from config or similar %>
        <% ['standard', 'librarian'].each do |format| %>
          <% if can? :view_format, format %>
            <li><%= link_to(t("toshokan.catalog.display_formats.#{format}"), url_for(params_for_search.merge(:display => format))) %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
