    <% # container for a single doc -%>
    <div class="document <%= render_document_class document %>">

      <%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>

     <div class="media">
        <span class="pull-right hidden-phone">
          <% # Cover image %>
          <%= render_cover_image document %>
        </span>
        <div class="media-body">
          <% # main container for doc partial view -%>
          <%= render_document_partial document, :index %>
        </div>
      </div>

    </div>