<div id="dtu-locations-modal" class="modal hide">
  <div class="modal-header">
    <h4><a href="#" class="close pull-right" data-dismiss="modal" data-target="#dtu-locations-modal">&times;</a></h4>
  </div>
  <div class="modal-body">
    <div id="dtu-map">
    </div>
  </div>
</div>
