<% # main container for facets/limits menu -%>
<div id="facets" class="facets sidenav">

  <div class="facets-collapse">
  <%= render_facet_partials %>
  <hr/>
  <% if can? :logout, User %>
    <%= render_tag_partials %>
  <% end %>
  </div>
</div>
