<% # main container for facets/limits menu -%>
<div id="facets" class="facets sidenav">

  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/intro.js/2.1.0/introjs.min.css", media: "all" %>
  <div class="facets-collapse" data-intro="Narrow down your search by type or author" data-step="4" data-position="right" >
  <%= render_facet_partials %>
  <% if can? :tag, Bookmark %>
    <%= render_tag_partials %>
  <% end %>
  <% if has_search_parameters? && (current_user.student? || current_user.employee?)%>
    <%= render 'cant_find_links' %>
  <% end %>
  </div>
</div>
