<% if !document['format'].eql? "journal" %>
  <dl class="dl-horizontal dl-invert">
    <dt>Availability</dt>
    <dd class="fulltext-options">
        <ul class="list-inline">
          <li class="getit pull-right">
            <%= link_to catalog_path(document.id) do %>
              <%= t('toshokan.availability.getit') %> <i class="icon-arrow-circle-right getit"></i>
            <%- end -%>
          </li>
        </ul>
    </dd>
  </dl>
<%- end -%>
