<% if !document['format'].eql? "journal" %>
  <dl class="dl-horizontal dl-invert">
    <dt>Availability</dt>
    <dd class="fulltext-options">
        <ul class="inline">          
          <li class="getit-item pull-right">            
            <%= link_to catalog_path(document.id) do %>
              <%= t('toshokan.availability.getit') %> <i class="icon-circle-arrow-right getit"></i>
            <%- end -%>  
          </li>
        </ul>      
    </dd>
  </dl>
<%- end -%>
