<ul class="holdings">
<% holdings.each do |label, holding| %>  
  <li><%=I18n.t("toshokan.catalog.holdings.#{label}")%></li>
  <% holding.each do |h| 
    list = ""
    list << h['fromyear'] if h['fromyear']
    list << " (v. #{h['fromvolume']})" if h['fromvolume']
    list << " &mdash;  #{h['toyear']}" if h['toyear'] 
    list << " (v. #{h['tovolume']})" if h['tovolume']
  
    if label == "printed"
      if can? :search, :dtu
        link = link_to I18n.t("toshokan.catalog.holdings.alis"), Rails.application.config.alis_url + issn 
      else
        link = I18n.t("toshokan.catalog.holdings.alis_public")
      end
    end
    link ||= ""

  %>

    <li><i class="icon-ok"></i> 
      <%= list.html_safe%>  <span class="availability"><%=link %></span>
    </li>
  <% end %>
<% end %>
</ul>
