<div class="splash">
  <h1><%= t 'toshokan.catalog.home.title_html' %><br>
    <span class="subtitle"><%= t 'toshokan.catalog.home.subtitle' %>. <a target="_blank" href="http://api.libguides.com/api_box.php?iid=3935&bid=13806304"><%= t 'toshokan.read_more' %></a></span>
  </h1>

  <%= render :partial => 'shared/search_bar' %>
</div>
