<div class="row">
  <div class="span9">
    <h4 style="text-align: center; font-size: 28px; margin-bottom: 75px">Search it, find it and get it!!</h4>
  </div>
</div>
<div class="row">
  <div class="span3 offset1">
    <%= image_tag 'articles.png' %>
  </div>
  <div class="span3 offset1">
    <%= image_tag 'journals.png' %>
  </div>
</div>
<div style="width: 80%; margin: 50px auto; font-size: 18px; line-height: 1.5em; text-align: center">
  Search millions of academic articles from tens of thousands scientific journals
  in science, technology and medicine. <a href="">Read more</a>
</div>
