<div style="margin: 20px auto 40px auto; font-size: 18px; line-height: 1.5em; text-align: center">
  Search millions of academic articles.
  <a target="_blank" href="http://api.libguides.com/api_box.php?iid=3935&bid=13938150">Read more</a>
</div>
<div class="row">
  <div class="span3">
    <div style="text-align: center; margin-bottom: 20px">
      <%= image_tag 'FA_ok.png', :style => 'width: 50px' %>
    </div>
    <div style="background-color: whitesmoke; border-radius: 10px; padding: 20px; text-align: left">
      Complete coverage of published articles from all major STM publishers.
      <a target="_blank" href="http://api.libguides.com/api_box.php?iid=3935&bid=14267802">Read more</a>
    </div>
  </div>
  <div class="span3">
    <div style="text-align: center; margin-bottom: 20px">
      <%= image_tag 'FA_search.png', :style => 'width: 50px' %>
    </div>
    <div style="background-color: whitesmoke; border-radius: 10px; padding: 20px; text-align: left">
      Search more than 70 million articles, journals and books.<br>
      <a target="_blank" href="http://api.libguides.com/api_box.php?iid=3935&bid=13839230">Read more</a>
    </div>
  </div>
  <div class="span3">
    <div style="text-align: center; margin-bottom: 20px">
      <%= image_tag 'FA_download.png', :style => 'width: 50px' %>
    </div>
    <div style="background-color: whitesmoke; border-radius: 10px; padding: 20px; text-align: left">
      Download full articles or order digital copies.<br>
    </div>
  </div>
</div>
