<div id="nal-locations-modal" class="modal hide">
  <div class="modal-header">
    <h4>
      Availability on-site in Denmark
      <a href="#" class="close pull-right" data-dismiss="modal" data-target="#nal-locations-modal">&times;</a>
    </h4>
  </div>
  <div class="modal-body">
    <h5>The material is available at the following libraries (check to show on map):</h5>
    <p id="nal-locations">
      <a href="#" id="select-all-nal-locations">Select all</a> |
      <a href="#" id="select-no-nal-locations">Select none</a>
    </p>
    <div id="nal-map">
    </div>
  </div>
</div>
