<h4>Sorry, no hits</h4>
<p>
  Your search did not return any results. Please modify your search and try again.
</p>
<p>
  If the search is still unsuccessful, consider one of the following alternatives:
</p> 
<dl>
  <dt>Articles</dt>
  <dd>Do the search in <a href="http://scholar.google.com">Google Scholar</a>.</dd>
  <dt>Books</dt>
  <dd>Do the search in <a href="http://books.google.com">Google books</a>.</dd>
  <dt>Other</dt>
  <dd>Do the search in <a href="http://www.google.com">Google</a>.</dd>
  <dd>Ask a librarian.</dd>
</dl>
