<div class="row">
  <div class="col-md-12">

    <h5><%= t "toshokan.catalog.no_hits.tags.title" %></h5>
    <ul class="search-tips">
      <li><%= t "toshokan.catalog.no_hits.tags.broaden_html" %>
    </ul>

  </div>
</div>
