<% if show_sort_and_per_page? and !blacklight_config.per_page.blank? %>
<div id="per_page-dropdown" class="dropdown pull-right  hidden-phone">
  <%= link_to(
    (t(:'blacklight.search.per_page.button_label', :count => current_per_page) + ' <span class="caret"></span>').html_safe, 
    "#", :class => 'btn btn-default dropdown-toggle', 'data-toggle' => 'dropdown') %>
  <ul class="dropdown-menu">
    <%- blacklight_config.per_page.each do |count| %>
      <li role="presentation">
        <%= link_to(
          t(:'blacklight.search.per_page.label', :count => count).html_safe, 
          url_for(params_for_search(:per_page => count)), :role => 'menuitem') %>
      </li>
    <%- end -%>
  </ul>
</div>
<% end %>
