<div style="display: none;" id="show_refine_search_query"><a href="#">Refine search query</a></div>
<div class="well" style="display: none;" id="refine_search_query" data-query="<%= @query %>">
    <div id="refined_author">Author: <input style="width: 460px;" id="refined_author_input" type="text" value=""/></div>
    <div id="refined_title">Title: <input style="width: 460px;" id="refined_title_input" type="text" value=""/></div>
    <div id="refined_journal">Journal: <input style="width: 460px;" id="refined_journal_input" type="text" value=""/></div>
    <div id="refined_volume">Volume: <input style="width: 460px;" id="refined_volume_input" type="text" value=""/></div>
    <div id="refined_page">Page: <input style="width: 460px;" id="refined_page_input" type="text" value=""/></div>
    <div id="refined_publisher">Publisher: <input style="width: 460px;" id="refined_publisher_input" type="text" value=""/></div>
    <div id="refined_year">Year: <input style="width: 460px;" id="refined_year_input" type="text" value=""/></div>
    <div><a href="#" id="do_refined_search">Do refined search</a></div>
</div>
