<% if show_pagination? %>
 <div class="row record-padding">
  <div class="col-md-12 text-center"> 
    <div class="pagination">
      <%= paginate @response, :outer_window => 0, :theme => 'blacklight' %>
    </div>
  </div>
 </div>
<% end %>
