<table id="search-options" class="table hide">
  <tbody>
    <tr>
      <td style="color: #dc0000; text-align: right"><i class="icon-bell"></i> <a href="">Save with alert</a><i class="icon-star"></i> <%= link_to t('blacklight.search_history.save') %></td>
    </tr>
    <tr class="recent-history">
      <td class="bordered"><i class="icon-time"></i> <b>Recent History:</b></td>
    </tr>
    <tr class="recent-history">
      <td class="entry">
        <i class="icon-search invisible"></i> <a href="">author:"Doe, John"</a>
        <div>
          <i class="icon-search invisible"></i>
          <span style="font-size: 0.8em; color: #777">Filtered by: Type &gt; Journal article</span>
        </div>
      </td>
    </tr>
    <tr class="recent-history">
      <td class="entry"><i class="icon-search invisible"></i> <a href="">title:water</a></td>
    </tr>
    <tr class="recent-history">
      <td class="entry"><i class="icon-search invisible"></i> <a href="">nanotechnology</a></td>
    </tr>
    <tr class="recent-history">
      <td class="entry">
        <i class="icon-search invisible"></i> <a href="">title:"Photon mapping"</a>
        <div>
          <i class="icon-search invisible"></i>
          <span style="font-size: 0.8em; color: #777">Filtered by: Author &gt; "Jensen, Henrik Wann" AND Type &gt; Journal article</span>
        </div>
      </td>
    </tr>
    <tr class="recent-history">
      <td class="entry"><i class="icon-search invisible"></i> <a href="">opengl</a></td>
    </tr>
    <tr>
      <td class="bordered" style="text-align: right; color: #dc0000"><i class="icon-time"></i> <%= link_to "Complete history", search_history_path %></td>
    </tr>
  </tbody>
</table>
