<table id="search-syntax" class="table table-hover" role="menu" aria-labelledby="toggle-search-syntax">
  <thead>
    <tr>
      <th>Example</th>
      <th>Finds records</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="syntax">water<span class="template hide">{}</span></td>
      <td class="description">containing the word "water".</td>
    </tr>
    <tr>
      <td class="syntax">"water supplies"<span class="template hide">"{}"</span></td>
      <td class="description">containing the phrase "water supplies".</td>
    </tr>
    <tr>
      <td class="syntax">author:"Doe, John"<span class="template hide">author:"{}"</span></td>
      <td class="description">containing the phrase "Doe, John" in the author field.</td>
    </tr>
    <tr>
      <td class="syntax">title:IEEE<span class="template hide">title:{}</span></td>
      <td class="description">containing the word "IEEE" in the title field.</td>
    </tr>
  </tbody>
  <thead>
    <tr class="info">
      <th>Need more help?</th>
      <td><a target="_blank" href="http://api.libguides.com/api_box.php?iid=3935&bid=14174533">How to search</a></td>
    </tr>
  </thead>
</table>
