<%= render 'show_tools' %>

<% unless @document.more_like_this.empty? %>
  <div class="well" id="sidebar-mlt">
    <ul class="list-unstyled">
    <li class="nav-header">More Like This</li>
    <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :document %>
    </ul>
  </div>
<% end %>
