<% if can?(:view, :search_history) && @document['issn_ss'].present? %>
  <div id="alert_tools" class="well tools">
    <ul class="list-unstyled">
        <li class="nav-header journal-alert-header"><h4><i class="icon-bell"></i><%= t('toshokan.alerts.title') %></h4></li>
        <li>
          <%= render :partial => 'alerts/add_journal_alert', :locals => { :document => @document } %>
        </li>
    </ul>
  </div>
<% end %>
