<div><%= t "toshokan.orders.text.#{supplier}_html" %></div>
<%= render :partial => 'order_scan_form', :locals => { :supplier => :rd, :open_url => document.export_as_openurl_ctx_kev, :index => false } %>