
  <ul class="nav nav-list facets-collapse">
    <li class="nav-header fulltext-header"><%= t('toshokan.tools.fulltext') %></li>
    <li class="fulltext"></li>
    <li id="nal-header" class="nav-header hide nav-list-collapse" data-toggle="collapse" data-target="#nal-content">
      <%= t('toshokan.tools.nal') %> <i class="icon-chevron"></i>
    </li>
    <li id="nal-content" class="collapse"></li>
  </ul>
