<% unless @document_list.empty? %>
  <div id="sortAndPerPage" class="clearfix">
    <div class="page_links">
      <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
    </div>
    <%= render :partial => 'sort_widget' %>
    <%= render :partial => 'per_page_widget' %>
    <%= render :partial => 'save_and_export_widget' %>
  </div>
<% end %>
