<% if show_sort_and_per_page? and !blacklight_config.sort_fields.blank? %>
<div id="sort-dropdown" class="dropdown pull-right hidden-phone">
  <%= link_to(
    (t('blacklight.search.sort.label', :field => current_sort_field.label) + ' <span class="caret"></span>').html_safe, 
    "#", :class => 'btn btn-default dropdown-toggle', 'data-toggle' => 'dropdown') %>
  <ul class="dropdown-menu" role="menu">
    <%- blacklight_config.sort_fields.each do |sort_key, field| %>
      <li role="presentation"><%= link_to(field.label, url_for(params_for_search(:sort => sort_key)), :role => 'menuitem') %></li>
    <%- end -%>
  </ul>
</div>
<% end %>
