<div class="span6 offset3">
  <div class="advanced-search">
    <%= link_to t('toshokan.catalog.simple_search'), catalog_index_path(:simple_search => true), :class => 'start-over-link pull-right' %>
    <%= render 'advanced_search_form' %>
  </div>
</div>
