<div class="span9 offset3">
  <div class="advanced-search">
    <%= form_tag '/catalog', :method => :get do %>
      <% blacklight_config.search_fields.reject { |k,v| k == 'all_fields' }.each do |field_name, field| %>
        <%= label_tag field_name, field.label %>
        <%= text_field_tag field_name, params[field_name] %>
      <% end %>
      <%= button_tag ('Search ' + content_tag('i', '', :class => 'icon-search icon-white')).html_safe, :value => 'advanced_search', :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>
