(function ($) {

  $.fn.addResource = function(openUrl, id, service_list, layout_func, stop_spinner_func) {
    var base = $(this);
    var customData = encodeURIComponent(JSON.stringify({"id" : id}));
    var url = [toshokan.getit.url,
               "/resolve?" + openUrl,                
               "&rft_dat=" + customData,
               "&req_id=" + userType,
               "&svc_dat=" + service_list].join("");        

    var source = new EventSource(url);
    var count = 0;
    source.onmessage = function (event) {
      layout_func(JSON.parse(event.data));
      count++;
      if(count == 1) {
        stop_spinner_func.call();
      }
    }
    source.onerror = function(event) {
      stop();
    }    
    source.addEventListener("close", function(event) {      
      stop();
    }, false);

    function stop() {
      if(count == 0) {
        layout_func(null);
      }
      stop_spinner_func.call();
      source.close();
    }

    return this;
  };

  $(function () {
    if($('body.blacklight-catalog-index').length) {      

      $('.document').each(function() {
        var openUrl = $(this).find(".Z3988").attr("title");
        var id = $(this).attr("id");
        var fulltext = $(this).find('.getit-item');        
                
        if(fulltext.length) {          
          var spinner = $("<li />");
          fulltext.before(spinner.spin());
          spinner.spin({length: 3, width: 2, radius: 4, left: 5, top: -12 });
          fulltext.addResource(openUrl, id, "fulltext_info", partial(layout_index, fulltext), 
            function() { spinner.spin(false); spinner.remove(); });
        }
      });
    }
    else if($('body.blacklight-catalog-show').length) {
      var openUrl = $(".Z3988").attr("title");
      var id = $("input[name=id]").val();
      var fulltext = $(".fulltext-header");
      
      if(fulltext.length) {          
        fulltext.spin({length: 4, width: 3, radius: 5, top: 0});      

        fulltext.addResource(openUrl, id, "fulltext", partial(layout_show, fulltext), 
          function() { fulltext.spin(false); });
      }
    }
  });


  var layout_show = function (elm, data) {

    if(data == null) {      
      elm.after($("<li />").html("<%= I18n.t('toshokan.tools.not_available') %>"));
    } else {    
      var action;
      var header_elm = elm;

      if(data.subtype.match(/_scan/)) {
        
        action = $("li.order-rd-scan > form");
        $(action).find("button").text(data.button_text);
        data.lead_text = action.attr("data-price");

      } else if(data.subtype.match(/nal/)) {
        
        var other_header = elm.parent().find(".other-header")
        other_header.show();
        link = $("<a />", {
          text          : data.button_text,
          "class"       : "fulltext btn btn-primary btn-small dropdown-toggle",
          "title"       : data.tool_tip,
          "href"        : "",
          "data-toggle" : "dropdown"  
        });
        link.append("<span class='caret'></span>");

        action = $("<div />", {"class" : "btn-group nal"});
        action.append(link);

        var nal_list = $('<ul />', {"class" : "dropdown-menu"});        
        for(var val in data.url_list) {        
          nal_list.append($('<li />').append($('<a />', {text : val, "href" : data.url_list[val], "target" : "_blank"})));
        }
        action.append(nal_list);
        header_elm = other_header;

      } else {
        
        action = $("<a/>", {
          text          : data.button_text,
          "class"       : "fulltext btn btn-primary btn-small",
          "title"       : data.tool_tip,
          "href"        : data.url,
          "data-toggle" : "tooltip"
        });

      }
      $(action).tooltip();

      var item = $("<li />", { "class" : "fulltext-item"});
      item.append("<strong><i class='" + data.icon + "'></i>" + data.short_name + "</strong> (" + data.type + ")");
      item.append("<p><small>" + data.short_explanation + "</small></p>");        
      item.append(
        $("<div />", {"class" : "fulltext-action"}).append(
          $("<div />", {"class" : "leadtext"}),              
          $("<div />").append(action)
        )
      );
      lead_text = item.find(".leadtext");
      if (data.lead_text) {
        $(lead_text).append($("<div />").append("<strong>" + data.lead_text + "</strong>"));
      }
      if (data.explanation) {
        $(lead_text).append($("<div />").append("<small>" + data.explanation + "</small>")); 
      }

      if(data.holdings_list) {
        holdings_item = format_holdings_list(data.holdings_list);
        item.find(".fulltext-action").before(holdings_item);
      }

      header_elm.after(item);
    }
  };

  function format_holdings_list(holdings_list) {

    holdings_list.sort(function(a, b) { return a.fromyear - b.fromyear; }).reverse;
    var item = $("<div />", {"class" : "coverage"});
    item.append("<p><small><%= I18n.t('toshokan.tools.coverage') %>:</small></p>");
    for(var i=0; i<holdings_list.length; i++) {
      h = holdings_list[i];      

      if(h.fromyear) {
        from = h.fromyear;
        if(h.fromvolume) {
          from += " vol. " + h.fromvolume
        }
        if(h.fromissue) {
          from += " iss. " + h.fromissue
        }
      }
      if(h.toyear) {
        to = h.toyear;
        if(h.tovolume) {
          to += " vol. " + h.tovolume
        }
        if(h.toissue) {
          to += " iss. " + h.toissue
        }
      }      
      item.append("<p><small>" + from + " &mdash; " + to + "</small></p>");
    }    
    return item;
  }

  var layout_index = function (elm, data) {
    if(data == null) {
      elm.before($("<li />").html("<%= I18n.t('toshokan.tools.not_available') %>"));
      elm.hide();
    } else {

      var item = $("<li />", {
        text             : data.short_name,
        "title"          : data.tool_tip,
        "data-toggle"    : "tooltip",
        "data-placement" : "bottom"
      });
      if(data.tool_tip) {
        $(item).tooltip();
      }
      $(item).prepend("<i class='" + data.icon + "'></i>");
      elm.before(item);
    }
  };

})(jQuery);
