.index-document-functions {
  display: inline-block;
  background-color: #eee;
  padding: 5px 10px;
  float: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  vertical-align: middle;
}
