#fulltext {
  padding-bottom: 10px;

  li:first-child h4 {
    margin-top: 0px;
  }

  .btn-primary {
    width: 100%;
    box-sizing: border-box;
  }

  .fulltext-item {
    line-height: 15px;
    margin: 10px 0 25px;
    &:last-child {
      margin-bottom: 10px;
    }
    i {
      margin-right: 6px;
    }
    .leadtext {
      margin-right: 15px;
      margin-bottom: 0.5em;
      i.icon-openaccess {
        color: orange;
      }
    }
    p {
      margin: 0 0 5px;
    }
    .nal {
      .caret {
        border-top-color: white;
        border-bottom-color: white;
        margin-top: 8px;
        margin-left: 2px;
      }
      .dropdown-menu li > a:hover {
        background-color: $dtu_red_light;
        @include gradient-vertical($dtu_red,$dtu_red_light);
      }
    }
    .coverage {
      p {
        margin: 0;
      }
      margin-bottom: 10px;
    }
  }
}

.loan {

  &:after{
    clear: both;
    content: "";
    display: block;
  }

  p {
    margin: 0px;
    clear: both;
  }
  ul {
      margin: 0px;
      clear: both;
      list-style-type: none;
  }
  li {
    float: left;
  }
  .no-link  {
    li:first-child {
      width: 16px;
    }
    li:first-child + li {
      width: 222px;
    }
  }
  .with-link {
    li:first-child {
      width: 16px;
    }
    li:first-child + li {
      width: 159px;
      margin-right: 2px;
    }
    li:first-child + li + li {
      width: 61px;
    }
  }
  .location {
    margin-top: 5px;
  }
}
.access-information {
    border: 1px solid #ddd;
    border-radius: 10px;
}
ul.access-menu {
    list-style-type: none;
    margin: 0;
    margin-top: 1em;
    padding: 0;
}
.access-nav {
    font-size: 1.3em;
    margin-bottom: 1em;
}
.access-nav > div { padding-top: .3em; }
.access-nav > div:last-of-type {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 10px;
    background-color: #eee;
}

.fulltext-options {
    margin-top: -5px;
    font-size: 1.2em;
}
.fulltext-options > ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}
.fulltext-options i {
    margin-right: .5em;
}
li.getit-entry {
    border-bottom: 1px solid #eee;
    padding-bottom: .2em;
    padding-top: .2em;
}
li.getit-entry:last-of-type{
    border-bottom: none;
}
