@import 'toshokan_defaults';
@import 'toshokan_mixins';

.splash {
  h1 {
    @include dtu-heading(28px);
    margin-bottom: 20px;

    .subtitle {
      font-family: sans-serif;
      margin: 20px auto 40px auto;
      font-size: 18px;
      line-height: 1.5em;
    }

  }

  .feature-highlight {
    text-align: center;

    img {
      display: block;
      margin: 0px auto 20px;
      width: 50px;
    }

    p {
      background-color: whitesmoke;
      border-radius: 10px;
      padding: 20px;
      text-align: left;
    }
  }
}

.mb-20{
  margin-bottom: 20px;
}
.mb-50{
  margin-bottom: 50px;
}

.user-favorites{
  font-size: 1.6rem;
}

.dtucards{
  height: 150px;
  p{
    margin-top:10px;
  }
}

