.metric {
  margin-top: 1em;

  &:first-child {
    margin-top: 0em;
  }

  .dtu-orbit-backlink img {
    width: 64px;
  }

  .scopus-backlink img {
    width: 75%;
  }
  .pubmed-backlink img {
    width: 80%;
  }
}
