form[class $= '_query'] textarea {
  margin-bottom: 5px;
  font-family: monospace;
}

.query-enabled {
  code {
    white-space: pre-wrap;
  }

  .filter-info {
    background-color: #ed9;
    color: #333;
    padding: 0.1em 0.2em;
  }
}

.query-disabled {
  color: #999;

  code {
    color: #999;
    background-color: inherit;
    white-space: pre-wrap;
  }
  
  .filter-info {
    background-color: #ddd;
    color: #999;
    padding: 0.1em 0.2em;
  }
}
