#searchbar {
  .input-small {
    width: 110px;
  }

  .search_q {
    height: 40px;
  }

  .redborder{
    border: 2px solid $dtu_red !important;
    border-radius: 0px !important;
    box-shadow: none !important;
  }

  .btn-search{
    background-color: $dtu_red !important;
    color: white;
    height: 40px;
    font-size: 18px;
  }

  .btn-search:hover {
    background-color: $dtu_red_darker !important;
    border: 2px solid $dtu_red_darker !important;
    color: white;
  }

  .icons {
    a{
      font-size: 20px;
    }
  }
}
