
.manage-users {
  clear: right;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px dotted #ccc;

  &:first-child {
    margin-top: 0em;
    padding-top: 0em;
    border-top: 0px;
  }

  small {
    color: #555;
  }
  
  h4 {
    margin: 0px;
  }

  h5 {
    margin: 1em 0em 0em 0em;
  }

  label {
    display: inline;
    vertical-align: baseline;
    line-height: 1em;
    margin-right: 2em;
  }

  input {
    line-height: 1em;
    vertical-align: baseline;
  }

  .mugshot {
    width: 90px;
    height: 120px;
    border: 1px solid #aaa;
    @include border-radius(5px);
    @include box-shadow(1px 1px 3px rgba(0,0,0,0.2));
    margin: 0em 0em 1em 1em;
  }
}

