.manage-users {
  clear: right;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #ccc;

  &:first-child {
    margin-top: 0em;
    padding-top: 0em;
    border-top: 0px;
  }

  small {
    color: #555;
  }
  
  h4 {
    margin: 0px;
  }

  h5 {
    margin: 1em 0em 0em 0em;
  }

  label {
    display: inline;
    vertical-align: baseline;
    line-height: 1em;
    margin-right: 2em;
  }

  input {
    line-height: 1em;
    vertical-align: baseline;
  }

  @media (min-width: 481px) {
    .role-option {
      display: inline;
    }
  }

  @media (max-width: 480px) {
    .role-option {
      display: block;
    }
  }

  @media (min-width: 769px) {
    .mugshot {
      border: 1px solid #aaa;
      border-radius: 5px;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      width: 90px;
      height: 120px;
      margin-bottom: 2em;
      margin-left: 2em;
    }
  }

  @media (max-width: 768px) {
    .mugshot {
      display: none;
    }
  }
}

