// TODO: Maybe find a nicer and more OOCSS-ish way to remove the margin from input fields
input.no-margin {
  margin: 0px;
}

.documentFunctions .tags_as_labels {
  display: none;
}

.tag_control {
  .btn, .btn-group, .button_to, .label {
    display: inline-block;
  }

  .label form {
    display: inline;

    button {
      border: 0px;
      padding: 0px;
      background: none;
    }
  }

  .dropdown.form {
    form {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 5px;

      input {
	margin-bottom: 0px;
      }
    }
  }

  .label.tag {
    padding: 2px 6px 0px 6px;
    margin-bottom: 2px;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
  }

  .btn {
    margin-bottom: 2px;
    vertical-align: middle;
  }
}

.tools .tags .tag_control {
    max-width: 200px;
}