@import 'toshokan_defaults';

#startOverLink {
  color: $dtu_red_light;

  &:hover, &:active {
    color: $dtu_red_light;
  }
}

.appliedFilter {
  font-size: 0.9em;
}

#appliedParams {
  .constraints-label {
    margin-right: 0.5em;
    font-weight: normal;
  }
}
