@import 'toshokan_defaults';

#documents {
  .index_title {
    max-width: 750px;
  }

  .journal_information {
    font-size: $font_size_small;

    .journal_title {
      font-style: italic;
      text-transform: uppercase;
      display: inline;
    }
  }

  .authors {
    font-size: $font_size_small;
  }

  .abstract {
    font-size: $font_size_small;
    margin-top: 0.5em;
    text-align: justify;
    line-height: 1.5em;
  }

  .doi {
    font-size: $font_size_small;
  }
}
