@import 'toshokan_defaults';

// Index view
#documents {
  margin-top: 0em;

  .document:first-child {
    .index_title {
      margin-top: 0em;
    }
  }

  .index_title {
    max-width: 750px;
    font-weight: normal;
  }

  .documentHeader {
    margin-top: 0em;
  }

  dd.fulltext {
    ul {
      margin-left: 0px;
    }
    li {
      display: inline;
      margin-right: 10px; 
    }
  }
}

// Show view
#document {
}

.document {
  text-align: justify;
}
