body {
  padding-top: 14em;
}

#searchbar {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.level1-navbar {
  background-color: #900;
  background-image: none;
  filter: none;
  color: #fff;

  a {
    color: #fff;

    &:hover, &:active {
      color: #fff;
      text-decoration: underline;
    }
  }

}

#header-navbar-fixed-top {
  .level2-navbar {
    padding-top: 0em;
    padding-bottom: 0em;
    
    .container {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      background-image: image-url('pageheaderoverlay1.png');
      background-position: top right;
      background-repeat: no-repeat;
    }
  }
}

.btn-primary {
  background-color: #900;
  background-image: -moz-linear-gradient(top, #900, #700);
  background-image: -webkit-linear-gradient(top, #900, #700);
  background-position: top left;
  border-color: #500;

  &:hover, &:active {
    background-color: #b00;
    background-image: -moz-linear-gradient(top, #b00, #900);
    background-image: -webkit-linear-gradient(top, #a00, #900);
    background-position: top left;
    border-color: #500;
  }
}

a {
  color: #900;

  &:hover, &:active {
    color: #900;
  }
}

input {
  &[type = 'text']:focus {
    border-color: #900;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(128,0,0,0.6);
  }
}

.modal-header {
  background: #900;
  color: #fff;
  border-radius: 5px 5px 0px 0px;

  .close {
    color: #fff;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
