.radio-group, .checkbox-group {
  @include clearfix;

  input[type = 'radio'] {
    clear: left;
    float: left;
  }

  input[type = 'checkbox'] {
    clear: left;
    float: left;
  }

  label {
    float: left;
    margin-left: 1em;
  }
}

