
dd.fulltext-options {
  a {
    color: $dtu_red_light;
  }
  i {
    vertical-align: inherit;
    margin: 0 5px 0 0;
    &.getit {
      color: $dtu_red;
      font-size: 20px;
      width: auto;
      height: auto;
      vertical-align: top;
      margin-left: 5px;
    }
  }
  ul.inline > li {
    padding-left: 0px;
    margin-right: 10px;
  }
}

#fulltext {
  padding-bottom: 10px;

  li:first-child h4 {
    margin-top: 0px; 
  }

  .btn-primary {
    width: 100%;
    box-sizing: border-box;
  }

  .fulltext-item {
    line-height: 15px;
    margin: 10px 0 25px;
    &:last-child {
      margin-bottom: 10px;
    }
    i {
      margin-right: 6px;
    }
    .leadtext {
      margin-right: 15px;
      margin-bottom: 0.5em;
      i.icon-openaccess {
        color: orange;
      }
    }
    p {
      margin: 0 0 5px;
    }
    .nal {
      .caret {
        border-top-color: white;
        border-bottom-color: white;
        margin-top: 8px;
        margin-left: 2px;
      }
      .dropdown-menu li > a:hover {
        background-color: $dtu_red_light;
        @include gradient-vertical($dtu_red,$dtu_red_light);
      }
    }
    .coverage {
      p {
        margin: 0;
      }
      margin-bottom: 10px;
    }
  }
}

.loan {

  &:after{
    clear: both;
    content: "";
    display: block;
  }

  p {
    margin: 0px;
    clear: both;
  }
  ul {
      margin: 0px;
      clear: both;
      list-style-type: none;
  }
  li {
    float: left;
  }
  .no-link  {
    li:first-child {
      width: 16px;
    }
    li:first-child + li {
      width: 222px;
    }
  }
  .with-link {
    li:first-child {
      width: 16px;
    }
    li:first-child + li {
      width: 159px;
      margin-right: 2px;
    }
    li:first-child + li + li {
      width: 61px;
    }
  }
  .location {
    margin-top: 5px;
  }
}
