
dd.fulltext-options {
  a {
    color: $dtu_red_light;
  }
  i {
    vertical-align: inherit;
    margin: 0 5px 0 0;
    &.getit {
      color: $dtu_red;
      font-size: 20px;
      width: auto;
      height: auto;
      vertical-align: top;
      margin-left: 5px;
    }
  }
  ul.inline > li {
    padding-left: 0px;
  }
}

#fulltext {
  .fulltext-item {
    line-height: 15px;
    margin: 10px 0 15px;
    i {
      margin-right: 6px;
    }
    .leadtext {
      float: left;
      margin-right: 15px;
      i.icon-openaccess {
        margin-right: 0;
        color: orange;
      }
    }
    p {
      margin: 0 0 5px;
    }
    .nal {
      .caret {
        border-top-color: white;
        border-bottom-color: white;
        margin-top: 8px;
        margin-left: 2px;
      }
      .dropdown-menu li > a:hover {
        background-color: $dtu_red_light;
        @include gradient-vertical($dtu_red,$dtu_red_light);
      }
    }
    a.btn-primary {
      @include dtu-button;
    }
  }
}