@import 'toshokan_defaults';


#header-navbar-fixed-top {
  .navbar-inner {
    min-height: 0px;
  }

  .level1-navbar {
    background-color: $dtu_red;
    background-image: none;
    filter: none;
    color: #fff;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 25px;

    a { 
      color: #fff;

      &:hover, &:active {
        color: #fff;
        text-decoration: underline;
      }   
    }

    h5 {
      margin: 0px;
      line-height: 25px;
      padding: 0px;
    }
  }

  .level2-navbar {
    padding-top: 0em;
    padding-bottom: 0em;
    
    .container {
      height: 109px;
      padding-top: 30px;
      padding-bottom: 10px;
      background-image: image-url('pageheaderoverlay1.png');
      background-position: top right;
      background-repeat: no-repeat;

      .logos {
        height: 79px;
      }

      .row { 
        h4 {
          padding-top: 5px;
          padding-bottom: 5px;
          text-align: right;
          margin: 0px;
        }
      }

      .dtu-logo {
        height: 66px;
        width: 45px;
        background-image: image_url('dtu.png');
        background-position: top left;
        background-repeat: no-repeat;
      }

      .dtu-library-logo {
        height: 32px;
        width: 357px;
        background-image: image_url('dtu_library_logo.png');
        background-position: top left;
        background-repeat: no-repeat;
      }
    }   
  }
}
