@import 'toshokan_defaults';


#header-navbar-fixed-top {
  position: inherit;
  box-shadow: none;

  .navbar-inner {
    min-height: 0px;
    background-color: #fff;
  }

  .header-gradient {
    background-image: image-url('header_gradient.png');
    background-position: top left;
    background-repeat: repeat-x;
  }

  .level1-navbar {
    background-color: $dtu_red;
    background-image: image-url('header_bg.png');
    filter: none;
    color: #fff;
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 25px;

    a { 
      color: #fff;

      &:hover, &:active {
        color: #fff;        
        text-decoration: none;
      }

      i {
        color: #fff;
      }   
    }

    h5 {
      margin: 0px;
      line-height: 25px;
      padding: 0px;
    }

    .dropdown-menu {
      a {
        color: #000;
      }
      &:before {
        position: absolute;
        top: -7px;
        left: 9px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
      }
      &:after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
      }
    }
  }

  .level2-navbar {
    padding-top: 0em;
    padding-bottom: 23px;
    background-image: image-url('header_shadow.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    box-shadow: none;
    border-width: 0px;
    
    .container {
      background-image: image-url('pageheaderoverlay1.png');
      background-position: top right;
      background-repeat: no-repeat;
      height: 149px;

      .findit-logo {
        font-size: 36px;
        line-height: 149px;
        color: #333;
        font-family: "Neo Sans W01 Medium";
        text-decoration: none;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      }

      .search {
        display: inline-block;
        margin-top: 60px;
      }

      .dtu-logo {
        height: 66px;
        width: 45px;
        background-image: image_url('dtu.png');
        background-position: top left;
        background-repeat: no-repeat;
        margin-top: 40px;
      }

    }   
  }
}

#header-menu {
  .dropdown-menu {
    li {
      a {
        padding: 3px 10px;

        &:hover, &:active {
          background-image: none;
          background-color: $dtu_red;
          color: #fff;
          i {
            color: #fff;
          }
        }
        i {
          color: #000;
          background-image: inherit;
          margin-right: 5px;
        }
      }
      .divider {
        margin: 6px 1px;
      }
    }
  }  
}
