@import 'toshokan_defaults';

.search-box {
  padding: 20px;
  @include border-radius(5px);
  @include box-shadow(1px 1px 3px rgba(0,0,0,0.1));
  background-color: whitesmoke;
  border: 1px solid #d4d4d4;
  float: left;

  .title {
    margin-bottom: 1em;
    font-size: 1.3em;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #aaa;
  }

  .input-small {
    width: 110px;
  }

  #q {
  }
}

.welcome-title {
  font-weight: bold;
  color: #ccc;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2), 1px 1px 1px rgba(0,0,0,0.5);
  text-align: center;
  line-height: 5em;
  font-size: 28px;
  margin: 0px;
}
