
.icon-openaccess {
  background-image: image_url('openaccess.png');
  background-position: center center;
  height: 14px;
  width: 9px;
}

.icon-pubmed {
  background-image: image_url('pubmed_logo.png');
  background-position: center center;
  height: 16px;
  width: 16px;
}

.icon-isi {
  background-image: image_url('isi_logo.png');
  background-position: center center;
  height: 15px;
  width: 16px;
}

.icon-dtu {
  background-image: image_url('dtu-logo-red.png');
  background-position: center center;
  height: 16px;
  width: 16px;
}