
a > i[class^="icon-"], a > i[class*=" icon-"] {
  color: #000;  
}

i[class^="icon-"], i[class*=" icon-"] {
  width: auto;
  height: auto;
}

a > i[class^="icon-"] {
  background-position: center center;
  height: 16px;
  width: 16px;
  float: left;
  margin-top: 2px;
  margin-right: 0.5em;
}

a > i.icon-pubmed {
  background-image: image_url('pubmed_logo.png');
}

a > i.icon-isi {
  background-image: image_url('isi_logo.png');
}

a > i.icon-dtu {
  background-image: image_url('dtu-logo-red.png');
}
