@import 'toshokan_defaults';

input {
  &.no-margin {
    margin: 0px;
  }

  &[type = 'text']:focus {
    border-color: $dtu_red;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 8px rgba(153,0,0,0.6);
  }
}

