@import 'toshokan_defaults';
@import 'toshokan_mixins';

input {
  &.no-margin {
    margin: 0px;
  }

  &[type = 'text']:focus {
    @include focused_field;
  }
  
  &.required {
    background-color: #ff9;
  }
}

textarea {
  &:focus {
    @include focused_field;
  }
  
  &.required {
    background-color: #ff9;
  }
}

label {
  &.error {
    color: #f00;
  }
}
