@import 'toshokan_defaults';

html, body, .full-height {
  height: 100%;
  -moz-box-sizing: border-box;
}

body > .full-height {
  height: auto;
  min-height: 100%;
}

body {
  padding-top: 205px;
  padding-top: 0px;
  padding-bottom: 40px;
}

#main-container {
  margin-top: 20px;
  margin-bottom: 15em;
}

