@import 'toshokan_defaults';

a {
  color: $dtu_red_light;

  &:active, &:hover {
    color: $dtu_red_light;
  }

  &.request-assistance-link {
    width: 100%;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 14px;
    @include box-sizing(border-box);
  }
}
