#documents .document.homegrown {
  .documentHeader .index_title {
    font-weight: bold;
  }
  @media (min-width: $screen-sm-min) {
    img.homegrown-indicator {
      width: 20px;
      position: absolute;
      left: 34px;
      top: 5px;
    }
    dl.metadata {
      margin-left: 15px;
      border-left: 28px solid #D59292;
      padding-left: 25px;
      dt {
        width: 93px; // reduce witdh to accommodate the 28px border and 15px margin on the dl
      }
    }
  }
  @media (max-width: $screen-sm-min) {
    img.homegrown-indicator { display:none; }
    dl.metadata {
      border-left: 2px solid #D59292;
      padding-left: 5px;
//      dt {
//        width: 93px; // reduce witdh to accommodate the 28px border and 15px margin on the dl
//      }
    }
  }

}