@import 'toshokan_defaults';

.modal-header {
  background: $dtu_red;
  color: #fff;
  @include border-radius(5px 5px 0px 0px);

  .close {
    color: #fff;
    margin-top: -2px;
    @include opacity(70);

    &:hover {
      @include opacity(100);
    }
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0px;
  }

}

#modal-request-scan {
  .request-metadata {
    .dl-horizontal {
      dt {
        width: 100px;
      }
      dd {
        margin-left: 120px;
      }
    }
  }
  .request-price {
    .dl-horizontal {
      dt {
        width: 220px;
      }
      dd {
        margin-left: 240px;
      }
    }
  }
  div {
    margin-bottom: 25px;
  }
}

#nal-locations-modal {
  input {
    margin: 0px 0.5em 0px 0px;
  }

  #nal-map {
    height: 400px;

    img {
      max-width: none;
    }
  }
}

#dtu-locations-modal {
  .modal-header {
    :after{
      clear: both;
      content: "";
      display: block;
    }
  }

  #dtu-map {
    height: 400px;
  }
}
