@import 'toshokan_defaults';

.modal-header {
  background: $dtu_red;
  color: #fff;
  border-radius: 5px 5px 0px 0px;

  .close {
    color: #fff;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}

