@import 'toshokan_defaults';

.modal-header {
  background: $dtu_red;
  color: #fff;
  @include border-radius(5px 5px 0px 0px);

  .close {
    color: #fff;
    margin-top: -2px;
    @include opacity(70);

    &:hover {
      @include opacity(100);
    }
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0px;
  }

}

#nal-locations-modal {
  input {
    margin: 0px 0.5em 0px 0px;
  }

  #nal-map {
    height: 400px;

    img {
      max-width: none;
    }
  }
}
