
.mylibrary {

  .table {
    td, tr {
      .action {
        text-align: center;
      }
      .icon-times {
        color: $dtu_red;
      }
    }
  }

  .search-history-tools {

    margin: 20px 0;

    .nav {
      li + li:before{
        content: " | ";
        margin: 0 10px;
      }
      li {
        display: inline;
        a {
          display: inline-block;
        }
      }
    }
  }
}