@import 'toshokan_defaults';

.order {
  & > .header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid $dtu_red;
  }

  dt {
    margin-top: 1em;
    color: $dtu_grey;
    font-weight: normal;
  }

  dd.event-data {
    font-size: 0.9em;
    color: $dtu_grey;
  }
}

.requirements {
  margin-top: 20px;

  .header {
    margin-bottom: 10px;
  }
}

.order-summary {
  @include border-radius(5px);
  border: 1px solid #ccc;
  padding: 20px;

  .header {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
  }

  .items {
    .metadata {
      color: #555;
      font-size: 0.9em;
      margin: 10px 0px;

      .journal {
        font-style: italic;
      }
    }
  }

  .price {
    font-size: 1em;
    margin: 0px;
  }

  .price-tag {
    float: right;
    font-family: monospace;
    white-space: pre;
  }

  hr {
    border-color: #999;
    border-width: 1px 0px 0px 0px;
    margin: 10px 0px;

    &.heavy {
      border-color: #000;
      border-width: 2px 0px 0px 0px;
      margin: 15px 0px;
    }
  }
}

.price {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0px;
}

.price-index {
  margin: 0 10px 0 0;
}

.discount {
  font-size: 1em;
}

.order {
  .info {
    margin: 0px 0px 10px 0px;
  }
}

.ordered-item {
  font-size: 0.9em;
}

.order-form {
  label {
    float: left;

    &.terms-accepted {
      display: inline;
      float: none;
    }
  }

  input {
    display: block;
    clear: left;
  }

  input[type='checkbox'] {
    float: left;
    clear: left;
    margin-right: 10px;
  }

  button {
    clear: left;
    float: left;
    margin-top: 15px;
    margin-right: 5px;

    &:last-child {
      clear: none;
    }
  }

  .mandatory-fields-notice {
    margin-top: 10px;
  }
}

.order-scan {
  form {
    margin: 0;
  }
}

