@import 'toshokan_defaults';

.price {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0px;
}

.discount {
  font-size: 1em;
}

.order {
  .steps {
    border-bottom: 2px solid $dtu_red;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .info {
    margin: 10px 0px;
  }
}

.ordered-item {
  font-size: 0.9em;
}

.order-form {
  label {
    float: left;
  }

  input {
    display: block;
    clear: left;
  }

  input[type='checkbox'] {
    float: left;
    margin-left: 10px;
    clear: none;
  }

  button {
    clear: left;
    float: left;
    margin-top: 15px;
    margin-right: 5px;

    &:last-child {
      clear: none;
    }
  }
}
