@import 'toshokan_defaults';

.external-page-body {
  
  padding:0px;
  font-family: Arial, Verdana, sans-serif; 
  font-size: .8em;

  #searchbar {
    #q {
      margin: 0;
    }  
  }

  @media (max-width: 400px) {
    #searchbar {
      .text-field-with-icons {
        width: 300px;
      }

      #q {
        width: 290px;
      }

      #search {
        width: auto;
      }
    }
  }  

  @media (min-width: 400px) {
    #searchbar {
      .text-field-with-icons {
        width: 320px;
      }

      #q {
        width: 310px;
      }

      #search {
        width: auto;
      }
    }
  }  
}