@import 'toshokan_defaults';

#search-options {
  border: 1px solid #d4d4d4;
  position: absolute;
  background: #fff;
  z-index: 2000;

  tr {
    td {
      border-top: none;

      &.bordered {
        border-top: 1px solid #d4d4d4;
      }
    }

    &.recent-history {
      td {
        &.entry {
          &:hover {
            background: whitesmoke;
            cursor: pointer;
          }

          a {
            text-decoration: none;
            color: #000;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  tr.search-history-links {
    td {
      text-align: right; 
      color: $dtu-red-light;
    }
  }

  a {
    color: #dc0000;
    margin-right: 1em;
  }
}
