@import 'toshokan_defaults';

#search-syntax {
  border: 1px solid #d4d4d4;
  position: absolute;
  width: auto;
  z-index: 2000;

  thead, tbody {
    background-color: #fff;
  }

  td {
    cursor: pointer;
  }

}
