@import 'toshokan_defaults';

.external-page-body {
  
  padding:0px;
  font-family: Arial, Verdana, sans-serif; 
  font-size: .8em;

  #searchbar {
    #q {
      margin: 0;
    }  
  }

  @media (min-width: 400px) {
    #searchbar {
      .text-field-with-icons {
        width: 320px;
      }

      #q {
        width: 310px;
      }

      #search {
        width: auto;

        .icon-search {
          display: none;
        }
        .submit-search-text {
          display: inherit;
        }
      }
    }
  }

  @media (max-width: 400px) {
    #searchbar {
      .text-field-with-icons {
        width: 250px;
      }

      #q {
        width: 190px;
      }

      #search {
        width: auto;

        .icon-search {
          display: inherit;
        }
        .submit-search-text {
          display: none;
        }
      }
    }
  }
}