#searchbar {
  margin-top: 1em;
  margin-bottom: 0em;
}

.advanced-search {

  input {
    margin: 0px 0px 5px 0px;
    width: 30em;
  }

  button {
    display: inline-block;
    margin-bottom: 5px;
  }
}

#more_options {
  z-index: 500;
  background-color: whitesmoke;
  background-image: -moz-linear-gradient(top, #ddd, whitesmoke);
  background-size: 16px 16px;
  background-repeat: repeat-x;
  background-position: top left;
  position: fixed;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  padding: 20px 0px 10px 0px;
  -moz-transition: top 0.5s;
  transition: top 0.5s;
  top: -100%;

  .info {
    text-align: right;
    padding: 0px 0px 0px 10px;

    h4, h5 {
      margin-top: 0px;
    }

    label {
      display: inline;
    }

    input[type='radio'] {
      display: inline;
      margin: 0px 0px 0px 0.5em;
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    display: block;
    width: 30em;
  }
}

