#searchbar {
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0px;

  .input-small {
    width: 110px;
  }

  .text-field-with-icons {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    padding: 2px 5px;
    height: 34px;
    width: 446px;
    float: left;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;

    .icons {
      display: inline-block;
      float: right;
      margin-top: 5px;

      a {
        float: left;
        margin-left: 5px;

        &:first-child {
          margin-left: 0px;
        }

        &.disabled {
          opacity: 50;
        }
      }
    }
  }

  #q {
    width: 376px;
    border: none;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    box-shadow: none;
    font-size: 22px;
    line-height: 22px;
    height: 28px;

    &:focus, &:active, &:hover {
      border: 0px dotted blue;

      box-shadow: none;
    }
  }

  button {
    width: 90px;
    height: 34px;
    font-size: 18px;
    float: left;
    margin-left: -1px;
    border-radius: 0px 5px 5px 0px;
    padding: 0px 12px;
  }

}

#more_options_toggle {
  &.disabled {
    color: #999;
    cursor: default;
    text-decoration: none;
  }
}

.start-over-link {
  margin-left: 0.5em;
}
