#searchbar {
  margin-top: 1em;
  margin-bottom: 0em;
}

.advanced-search-link {
  line-height: 30px;
  margin-left: 0.5em;
}

.advanced-search {

  input {
    margin: 0px 0px 5px 0px;
    width: 30em;
  }

  button {
    display: inline-block;
    margin-bottom: 5px;
  }
}
