@import 'toshokan_defaults';

.external-page-body {
  
  padding:0px;
  font-family: Arial, Verdana, sans-serif; 
  font-size: .8em;

  form {
    display: inline-block;
    margin: 0; 
  }

  #searchbar {
    #q {
      margin: 0;
    }
  }

  @media (min-width: 400px) {

    .logo {
      float: left;
    }

    .external-searchbox {
      p {
        display: block;
      }
    }

    #searchbar {
      .text-field-with-icons {
        width: 320px;
      }

      #q {
        width: 310px;
      }

      #search {
        width: auto;

        .icon-search {
          display: none;
        }
        .submit-search-text {
          display: inherit;
        }
      }
    }
  }

  @media (max-width: 400px) {

    .logo {
      float: none;      
    }

    .external-searchbox {
      p {
        display: none;
      }
    }

    #searchbar {
      .text-field-with-icons {
        width: 240px;
      }

      #q {
        width: 190px;
      }

      #search {
        width: auto;

        .icon-search {
          display: inherit;
        }
        .submit-search-text {
          display: none;
        }
      }
    }
  }
}