.service-menu {
  margin-top: 3em;
  
  .nav-header {
    background-image: -moz-linear-gradient(top, #f9f9f9, #ddd);
    border-radius: 5px 5px 0px 0px;
    line-height: 2em;
  }

  .nav-list a {
    border-top: 1px solid #ddd;
    color: #000;

    .icon-chevron {
      background-position: -456px -72px;
      margin-left: -16px;
      opacity: 0.5;
    }

    &:hover {
      .icon-chevron {
        opacity: 1;
      }
    }
  }


}
