@import 'toshokan_defaults';

#sidebar {
  .sidenav {
    margin-bottom: 3em;
    border: 0px;
    @include box-shadow(none);
    @include border-radius(0px);

    h4, h5 {
      border-top: 1px solid #d4d4d4;
    }
  }
}

