#sortAndPerPage {
  background: none;
  border: none;
  padding: 0px;
  box-shadow: none;
  min-height: 0px;

  .page_links {
  }

  .css-dropdown {
    li {
      &:hover, &.hovering {
        & > ul {
          border-top: none;
        }
      }
    }
  }

  .icon-external-link {
      font-size: 80%;
      padding-top: 0.4ex;
      padding-right: 0.4ex;
  }

  #save_and_export-dropdown {
      ul li ul li {
          font-size: 90%;
      }
  }
}
