#sortAndPerPage {
  background: none;
  border: none;
  padding: 0px;
  box-shadow: none;
  min-height: 0px;

  .page_links {
  }

  .css-dropdown {
    li {
      &:hover, &.hovering {
        & > ul {
          border-top: none;
        }
      }
    }
  }
}
