@import 'toshokan_defaults';

// make tagging buttons line up side-by-side
.tag_control {
  form {
    display: inline;
    button {
      display: inline;
      border: none;
      background: none;
      padding: 0px;
      margin: 0px;
    }
  }
}

.show-document {
  .documentFunctions {
    text-align: right;
    margin-bottom: 5px;
    .tags_dropdown {
      text-align: justify;
    }
  }
}

.tag_control .dropdown-menu {
    .icon-mendeley {
        font-size: 100%;
        margin-bottom: 1px;
        margin-left: -2px;
        padding-right: 1px;
    }
    .icon-file-text-o {
        color: $dtu_grey;
        padding-right: 3px;
    }
}

.tag_list,.tag_control {
  .tags_dropdown .has-tags i {
    color: $dtu_red;
  }

  .tags_dropdown .no-tags i {
    color: $dtu_grey;
  }

  .icon-star,.icon-tag {
    color: $dtu_red;
  }

  .icon-star-o, .icon-mendeley, .icon-quote-right, .icon-share-square-o {
    color: $dtu_grey;
  }

  .icon-tag {
      margin-left: 1px;
      margin-top: 2px;
      margin-right: -1px;
  }

  .icon-mendeley {
      font-size: 170%;
      margin-bottom: 3px;
      margin-left: -2px;
  }

  .icon-external-link, .icon-share-square-o, .icon-quote-right {
      margin-top: 2px;
  }
}


.document .tags .tag {
  background-color: $dtu_blue;
  .icon-times {
    color: #ffffff;
  }
}

.tags_dropdown .dropdown-menu {
  min-width: 280px;
  padding: 5px 5px;
  a.remove-tag {
    color: $dtu-blue;
    font-weight: bold;
    .icon-times {
      color: $dtu-blue;
    }
  }
  a.remove-tag:hover {
    color: #ffffff;
  }
}

.tag.label {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  padding-top: 1px;
  padding-bottom: 0px;
  text-shadow: none;

  // format remove button with icon inside label
  form {
    display: inline;
    button {
      border: 0px;
      padding: 0px;
      margin: 0px;
      background: none;
      position: relative;
      top: -1px;
    }
  }
}
