.toc {
    .toc_articles {
        list-style-position: inside;
        .toc_article {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            em {
                margin-left: 1em;
            }
        }
    }
}
