.tools {
  li.nav-list-collapse {
    cursor: pointer;

    .icon-chevron {
      @extend .icon-chevron-right;
      @include opacity(50);
    }

    &.twiddle-open .icon-chevron {
      @extend .icon-chevron-down;
      @include opacity(100);
    }

    /* hide the chevron when js isn't supported */
    .no-js & .icon-chevron {
      @extend .icon-chevron-down;
    }

    &:hover .icon-chevron {
      @include opacity(100);
    }
  }

  .journal-alert.hidden {
    display: none;
  }

  .journal-alert-header {
    i {
      margin-right: 5px;
    }
  }
}
