.tools {
  li:first-child h4 {
    margin-top: 0px;
  }

  li.nav-list-collapse {
    cursor: pointer;

    .icon-chevron {
      @extend .icon-chevron-right;
      @include opacity(50);
    }

    &.twiddle-open .icon-chevron {
      @extend .icon-chevron-down;
      @include opacity(100);
    }

    /* hide the chevron when js isn't supported */
    .no-js & .icon-chevron {
      @extend .icon-chevron-down;
    }

    &:hover .icon-chevron {
      @include opacity(100);
    }
  }

  .journal-alert.hidden {
    display: none;
  }

  .journal-alert-header {
    i {
      margin-right: 5px;
    }
  }

  .icon-mendeley {
  }

  .icon-share-square-o {
      padding-top: 0.4ex;
      font-size: 80%;
      padding-right: 2px;
  }

  .icon-file-text-o, .icon-quote-right {
      padding-top: 0.2ex;
      font-size: 80%;
      padding-right: 2px;
  }
}
