$dtu_red: #b30000;
$dtu_red_dark: #910000;
$dtu_red_darker: #6f0000;
$dtu_red_light: #c50000;

$dtu_grey: #999999;
$dtu_gray: #999999;

$font_size_smaller: 0.8em;
$font_size_small: 0.9em;
$font_size_normal: 1em;
$font_size_large: 1.1em;
$font_size_larger: 1.2em;

