@import 'toshokan_defaults';

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow;
     -moz-text-shadow: $shadow;
          text-shadow: $shadow;
}

@mixin focused_field() {
  border-color: $dtu_red;
  @include box-shadow(0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(153,0,0,0.6));
}
