$dtu_red: #990000;
$dtu_red_dark: #770000;
$dtu_red_darker: #550000;
$dtu_red_light: #bb0000;

$dtu_grey: #999999;
$dtu_gray: #999999;

$font_size_smaller: 0.8em;
$font_size_small: 0.9em;
$font_size_normal: 1em;
$font_size_large: 1.1em;
$font_size_larger: 1.2em;

