@import 'toshokan_defaults';

@mixin text-shadow($shadow...) {
  -webkit-text-shadow: $shadow;
     -moz-text-shadow: $shadow;
          text-shadow: $shadow;
}

@mixin focused_field() {
  border-color: $dtu_red;
  @include box-shadow(0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(153,0,0,0.6));
}

@mixin dtu-heading($size, $align: center) {
  font-family: 'Neo Sans W01 Medium';
  font-size: $size;
  font-weight: normal;
  text-align: $align;
}

@mixin dtu-button {
  background-color: $dtu_red;
  @include gradient-vertical($dtu_red, $dtu_red_dark);
  background-position: top left;
  border-color: $dtu_red_darker;

  &:hover, &:active {
    background-color: $dtu_red_light;
    @include gradient-vertical($dtu_red_light, $dtu_red);
    background-position: top left;
    border-color: $dtu_red_darker;
  }

  &.disabled, &[disabled] {
    background-color: $dtu_grey;
    border-color: $dtu_grey;

    &:hover, &:active {
      background: $dtu_grey;
      border-color: $dtu_grey;
    }
  }
}
