// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin dialog($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2em;
  border: 1px solid #888;
  z-index: 10;
  background-color: #fff;
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  z-index: 5;
  top: 0px;
  left: 0px;
  display: none;
}

#switch_user_form {
  &.ajax {
    @include dialog(500px, 100px);
  }

  .cancel {
    float: right;
  }
}
