@import 'toshokan_defaults';

#util-links {
  font-size: $font_size_small;

  &.impersonating {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    background-color: $dtu_orange;
  }
  
  #login-popover {
    color: $dtu_grey_dark;
    a {
      color: #fff;
      font-size: 0.9em;
      display: block;
    }
    .arrow {
      left: 60%;
    }

    p {
      line-height: 1.2em;
    }
  }
}

