<div class="media">
  <div class="pull-right hidden-phone">
    <%= render_cover_image document %>
  </div>
  <div class="media-body">
    <%= render_document_partial document, :show %>
  </div>
</div>
