<div class="flash_messages">
  <% {:success => :success, :notice => :info, :error => :danger, :alert => :warning}.each do |type, alert_class| %>
    <% if flash[type].respond_to? :each %>
      <% flash[type].each do |msg| %>
        <div class="alert alert-<%= alert_class %> alert-dismissable">
           <a class="close" data-dismiss="alert" href="#">&times;</a><%= msg %>
        </div>
      <% end %>
    <% elsif flash[type] %>
      <div class="alert alert-<%= alert_class %> alert-dismissable">
         <a class="close" data-dismiss="alert" href="#">&times;</a><%= flash[type] %>
      </div>
    <% end %>
  <% end %>
</div>
